<h1>Login Page</h1>
<div>

  <div *ngIf="login == true">
    <h1>Login form</h1>
    <p>Username: <input type="text" [(ngModel)]="username"></p>
    <p>Password: <input type="text" [(ngModel)]="password"></p>

    <button (click)="login()">Login</button>
  </div>

  <div class="wrapper" *ngIf="logged">
    <router-outlet></router-outlet>

    <button (click)="logout()">Logout</button>
  </div>
  </div>

  <div *ngIf="login == false">
  <form>
      <div><h2>Зарегистрироватся</h2></div>
      <div>
        <div>E-mail</div>
        <input type="text">
      </div>
      <div>
        <div>Пароль</div>
        <input type="password">
      </div>
      <div>
        <div>Подтвердить пароль</div>
        <input type="password">
      </div>
      <button>Зарегистрироватся</button>
      <div (click)="switchTrue()">Войти</div>
    </form>
  </div>
</div>
