<h1>Login Page</h1>
<div>

  <div *ngIf="login == true">
    <form>
      <div ><h2>Войти</h2></div>
      <div >
        <div >E-mail</div>
        <input type="text">
      </div>
      <div >
        <div >Пароль</div>
        <input type="password">
      </div>
      <button>Войти</button>
      <div  (click)="switchFalse()">Зарегистрироватся</div>
    </form>
  </div>

  <div *ngIf="login == false">
  <form>
      <div><h2>Зарегистрироватся</h2></div>
      <div>
        <div>E-mail</div>
        <input type="text">
      </div>
      <div>
        <div>Пароль</div>
        <input type="password">
      </div>
      <div>
        <div>Подтвердить пароль</div>
        <input type="password">
      </div>
      <button>Зарегистрироватся</button>
      <div (click)="switchTrue()">Войти</div>
    </form>
  </div>
</div>
