<h1>Sōji Service Center</h1>
<h2>Our Sōji service centers operate in the following cities:</h2>
<p>Tyumen, Moscow, Chelyabinsk, Yekaterinburg, Omsk, St. Petersburg, Orenburg, Nizhny Novgorod, Rostov-on-Don</p>
<h2>If your city is not in the list, call us now at 8 800 500-07-72 | the call is free</h2>
<p>We will let you know where in the nearest service you can repair the Sōji vacuum cleaner.</p>
<h2>We have been professionally repairing Sōji vacuum cleaners for over 10 years.</h2>
<p>All work is covered by a warranty of 6-36 months.</p>
<h2>Also, you can independently carry out maintenance of your Sōji vacuum cleaner, following our instructions.</h2>
<p>All necessary spare parts and details are available in our official Sōji store <a href="http://localhost:4200/products">Here</a></p>
